<h3 class="aside-title">@Model.Name</h3>
@for (int i = 0; i < Model.checkboxLists.Count; i++)
{
	<div class="checkbox-filter">
		<div class="input-checkbox">
			@if (Model.checkboxLists[i].checkbox)
			{
				<input type="checkbox" name="@Model.ListName-@i" id="@Model.ListName-@i" value="@Model.checkboxLists[i].item" checked>
			}
			else
			{
				<input type="checkbox" name="@Model.ListName-@i" id="@Model.ListName-@i" value="@Model.checkboxLists[i].item">
			}
			<label for="@Model.ListName-@i">
				<span></span>
				@Model.checkboxLists[i].item @Model.Prefix
			</label>
		</div>
	</div>
}